[data-h1],
[data-h2],
[data-h3],
[data-h4],
[data-h5],
[data-h6] {
  /* Change heading typefaces here */
  font-family: sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem;
}

[data-h1] {
  font-size: 4.242rem;
  line-height: 4.5rem;
  margin-top: 3rem;
}

[data-h2] {
  font-size: 2.828rem;
  line-height: 3rem;
  margin-top: 3rem;
}

[data-h3] {
  font-size: 1.414rem;
}

[data-h4] {
  font-size: 0.707rem;
}

[data-h5] {
  font-size: 0.4713333333333333rem;
}

[data-h6] {
  font-size: 0.3535rem;
}
